.list {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
}
.title {
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: 500;
  max-width: 250px;
}
.item {
  width: 250px;
  &:hover,
  &:focus {
    transform: scale(1.1);
    transition: transform 250ms ease-in-out;
  }
}
.img {
  width: 250px;
  height: 375px;
  overflow: hidden;
  padding-bottom: 10px;
}
